## Function

In [2]:
def fun():
    print("Hello World!")

fun()

Hello World!

In [5]:
def addition(a, b):
    return a + b

print(addition(10, 30))

40

In [10]:
# default value 
def addition(a, b, c=10):
    return a + b + c


sum1 = addition(10, 25)
print(sum1)

# pass perameter keyword
sum2 = addition(c=20, a=8, b=5)
print(sum2)

45
33

In [17]:
# args

def squires_multiple(*args):
    print(args) # return tuple
    print(*args)
    mul = 1
    for x in args:
        mul *= x**2
    return mul

mul = squires_multiple(1, 2, 5, 6)
print(mul)

(1, 2, 5, 6)
1 2 5 6
3600

In [28]:
# kwargs
def display(**kwargs):
    print(kwargs) # return tuple
    name = kwargs.get("name")
    print("name :", name)
    for k,v in kwargs.items():
        print(f"{k} : {v}")
    

display(name="saimun", roll="15", address="Dhaka")

{'name': 'saimun', 'roll': '15', 'address': 'Dhaka'}
name : saimun
name : saimun
roll : 15
address : Dhaka

## Function Return value

In [32]:
def get_data():
    a = [1, 2, 5]
    return a, "successfully retrived"

data = get_data()
print(data)
data, message = get_data()
print(data, message)

([1, 2, 5], 'successfully retrived')
[1, 2, 5] successfully retrived

In [36]:
def get_data():
    a = [1, 2, 5]
    b = {'a', 'b', 'c'}
    return a, b

lst, st = get_data()
print(type(lst), type(st))
print(lst, st)

<class 'list'> <class 'set'>
[1, 2, 5] {'a', 'b', 'c'}

## Iterator

In [49]:
st = {10, 20, 50, 60}

st_iter = iter(st)
print(type(st_iter))
print(next(st_iter))
print(next(st_iter))
print(next(st_iter))


lst = [1, 5, 6, 7]

<class 'set_iterator'>
10
20
50

In [45]:
## Generator

In [47]:
data = [i for i in range(100)]
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [61]:
def chunk_data(lst, size):
    for i in range(0, len(lst), size):
        yield lst[i : i + size]

lst = chunk_data(data, 10)
print(lst)
print(type(lst))

d1 = next(lst)
print(d1)
print(next(lst))
print(next(lst))
print(next(lst))
print(next(lst))

<generator object chunk_data at 0x148547c40>
<class 'generator'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
[40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

## Lambda function

In [66]:
# syntax: lambda perameters: expression

square = lambda x : x**2
print(square(5))

square_add = lambda *args : sum([x**2 for x in args])

print(square_add(1, 2, 5, 6))

25
66

## Map function

In [69]:
# syntax: map(fucntion: iterable) **iterable like list, set, string etc
lst = [1, 2, 3, 4, 5, 6]

def sq(a):
    return a**2
    
new_lst = list(map(sq, lst))
print(new_lst)

[1, 4, 9, 16, 25, 36]

### Map X Lambda

In [80]:
lst = [1, 2, 3, 4, 5, 6]
 
new_lst = list(map(lambda x : x**2, lst))
print(new_lst)

st = "Hello World, Phitron"

new_st = list(map(str.upper, st))
new_st = "".join(new_st)
print(new_st)

[1, 4, 9, 16, 25, 36]
HELLO WORLD, PHITRON

In [83]:
lst = [1, 2, 3, 4, 5, 6]
 
new_lst = list(map(lambda x : x**2 if x%2 else x, lst))
print(new_lst)

[1, 2, 9, 4, 25, 6]

## Filter function

In [90]:
# syntax: filter(function that return boolean : iterable)
lst = [i for i in range(100)]

def is_even(x):
    return x % 2 == 0

new_lst = list(filter(is_even, lst))
print(new_lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

## Filter X Lambda

In [96]:
new_lst = list(filter(lambda x : x % 2, lst))
print(new_lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [114]:
lst = ['a', None, True, 1, 2, False, None]

new_lst = list(filter(None, lst))
print(new_lst)

st = "Hello world, Everybody"
print(list(filter(lambda c: c.lower() in "aeiou", st)))

['a', True, 1, 2]
['e', 'o', 'o', 'E', 'e', 'o']

## Reduce method

In [2]:
from functools import reduce

In [3]:
'''
reduce(function, iterable[, initializer])

function:	A function that takes two arguments — it combines them into one.
iterable:	Any sequence (list, tuple, etc.) whose items will be reduced.
initializer: (optional)	Starting value. If given, it’s used as the first value of the accumulator.

'''
lst = [10, 20, 30, 50]

ans = reduce(lambda x, y: x + y, lst, 100) # continus summation 210 + 100
print(ans)

ans = reduce(lambda x,y: x if x > y else y, lst)
print(ans)

210
50